nav {
    position: relative;
    height: 10%;
    padding: 30px 30px 10px 10px;
  }
  
  nav ul li {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    list-style-type: none;
  }
  
  nav ul li:first-child {
    float: left;
  }
  
  nav ul li {
    float: right;
  }
  